[submodule "vendor/twitter"]
	path = vendor/twitter
	url = git://git.busydoingnothing.co.uk/twitter.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
